.pink_text{
    color: #FF6B6B;
}

.blue_text{
    color: #4ECDC4;
}
 
.dark_blue_text{
    color: #1A535C;
}
.background_color{
    background-color: #F7FFF7;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 